@import 'vars';

.welcome {
    display: flex;
    width: 100%;
    height: 100%;
    .left {
        display: flex;
        width: 40%;
        height: 100%;
        background-color: #ffffff;
        opacity: 0.6;
    }
    .right {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        .card {
            display: flex;
            padding: 3%;
            width: 40%;
            img {
                width: 5vh;
            }
        }

        .none {
            display: none;
        }

    
    }
}