$beige: #F5E4D3;
$red:#cc233a;
$grey:#fbf9fa;
$light:#f1f1f1;
$saumon:#FE835A;
$saumon_l:#FCBFAA;
$yellow: #E9C86B;
$yellow-l:#FBEAB5;
$turquoise:#00C4CC;
$violet:#8553CE;
$violet_light:#B299D2;
$green:#4FDB92;

