<% layout('../../index') -%>
<% include ../../partials/menu %>

<form method='POST' action="/admin/referentiels/create">
    <input type="text" name="title">
    <input type="submit" name="submit">
</form>