<% layout('../../index') -%>


<div class="briefs">
  <% briefs.forEach(function(brief) { %>
  <div class="brief post-module">
    <!-- Thumbnail-->
    <div class="thumbnail">
      <div class="date">
        <div class="day">27</div>
        <div class="month">Mar</div>
      </div><img src="/uploads/<%= brief.banner %>"/>
    </div>
    <!-- Post Content-->
    <div class="post-content">
      <div class="category">Photos</div>
      <h1 class="title"><%= brief.title %></h1>
      <!-- <h2 class="sub_title">The city that never sleeps.</h2> -->
      <p class="description"> magnificent buildings and countless dazzling skyscrapers.</p>
      <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>
    </div>
  </div>
  <% }); %>

</div>
