<% layout('../../index') -%>
<% include ../../partials/menu %>

<form method='POST' action="/admin/promos/create">
    <input type="text" name="city">
    <input type="date" name="startAt">
    <input type="submit" name="submit">

</form>