<a href="/admin/dashboard" class="btn btn-secondary">Home</a>

<a href="/admin/users" class="btn btn-secondary">Users</a>
<a href="/admin/promos/list" class="btn btn-secondary">Gerer les promos</a>
<a href="/admin/asks/confirmations" class="btn btn-secondary">Gerer les demandes de roles</a>
<a href="/admin/referentiels/list" class="btn btn-secondary">Gerer les referentiels</a>

<a href="/users/logout" class="btn btn-secondary">Logout</a>
